/* --------------------------------------------------
    MAIN CSS
    Version: 0.1
----------------------------------------------------- */

/* Fonts */

@font-face {
    font-display: swap;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-serif-v17-latin-regular.woff2') format('woff2'),
         url('../fonts/pt-serif-v17-latin-regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Trade Gothic Heavy';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/TradeGothicNextLTPro-Hv.woff2') format('woff2'),
         url('../fonts/TradeGothicNextLTPro-Hv.woff') format('woff');
}

/* Variables */

:root {
    --white: #fff;
    --black: #141414;
    --offwhite: #F5F5F5;
    --dirt: #5B3C3F;

    --font-size-tiny: 0.8rem;
    --font-size-small: 0.9rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 2rem;

    --font-family-serif: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    --font-family-sans-serif: 'Trade Gothic Heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --space-small: 0.8rem;
    --space-default: 1.2rem;
    --space-medium: 2rem;
    --space-large: 4rem;
}

img, figure, video, embed, object, svg {
    max-width: 100%;
    height: auto;
}


body {
    background-attachment: fixed;
    background-color: #573C41;
    background-image: url('../images/background_cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Layout */

.container {
    max-width: 840px;
    margin: 0 auto;
    padding: var(--space-default);
}

.site-header {
    margin-top: var(--space-default);
    margin-bottom: var(--space-large);
}

.content {}

article {
    margin: 0 auto var(--space-medium) auto;
    max-width: 540px;
}

.site-footer {
    color: var(--offwhite);
    opacity: 0.8;
    padding-bottom: var(--space-medium);
}

.site-footer p {
    text-align: center;
}

.columns {
    display: flex;
    gap: var(--space-medium);
    margin-left: auto;
    margin-right: auto;
}

.column-33 {
    width: 33%;
}

.column-50 {
    width: 50%;
}

.column-66 {
    width: 67%;
}


/* Typography */

body {
    color: var(--white);
    font-family: var(--font-family-serif);
}

p {
    line-height: 1.4;
    margin: 0 0 var(--space-default) 0;
}

article p {
    font-size: 1.2rem;
}

p.small {
    font-size: var(--font-size-small);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-sans-serif);
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: var(--font-size-medium);
}


/* Elements */

.box {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: var(--black);
    padding: 20px;
}

.box h2 {
    margin-top: 0;
    margin-bottom: var(--space-small);
}

.box p {}

.author {
    background: var(--black);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: var(--offwhite);
    margin-left: auto;
    margin-right: auto;
}

.author .photo {
    background-image: url('../images/author.jpg');
    background-size: cover;
    min-height: 200px;
    width: 170px;
}

.author .copy {
    font-size: var(--font-size-small);
    padding: 20px 20px 20px 0;
}

hr.symbol {
    background-image: url('../images/symbol.png');
    background-size: cover;
    border: 0;
    margin: var(--space-large) auto;
    height: 55px;
    width: 55px;
}


/* Links */

.buttons, .links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-small);
    margin: var(--space-default) 0 0 0;
    padding: 0;
}

.buttons li, .links li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button {
    align-items: flex-start;
    background: var(--dirt);
    border-radius: 3px;
    color: var(--white);
    display: inline-flex;
    flex-direction: row;
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-tiny);
    gap: 10px;
    margin: 0;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background: var(--black);
    rotate: 2deg;
}

.links > li > a {
    align-items: flex-end;
    display: inline-flex;
    gap: 5px;
}

.author .links > li > a {
    color: var(--offwhite);
}

.author .links > li > a:hover {
    color: var(--white);
    text-decoration: none;
}

.links > li > a::before {
    background-size: cover;
    content: ' ';
    display: inline-flex;
    height: var(--font-size-small);
    width: var(--font-size-small);
}

.link-website a::before {
    background-image: url('../images/link-website.png');
}

.link-twitter a::before {
    background-image: url('../images/link-twitter.png');
}

.link-instagram a::before {
    background-image: url('../images/link-instagram.png');
}

.links > li > a:hover::before {
    rotate: -5deg;
}


/* Media queries */

@media screen and (max-width: 640px) {

    .columns {
        flex-direction: column;
    }

    .column-33, .column-50, .column-66 {
        width: 100%;
    }

    .author .columns {
        flex-direction: row;
    }

    .author .columns .column-33,
    .author .columns .column-66 {
        width: 50%;
    }
    
}

@media screen and (max-width: 460px) {

    .author .columns {
        flex-direction: column;
        gap: 0;
    }

    .author .columns .column-33,
    .author .columns .column-66 {
        width: 100%;
    }

    .author .photo {
        min-height: 200px;
    }

    .author .copy {
        padding: 0;
    }

    .author .copy p, .author .copy ul {
        margin: var(--space-medium);
    }

}